
<div id="sample-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="cross-size close" data-dismiss="modal"><span aria-hidden="true" ng-click="exit()" >&times;</span><span class="sr-only">Close</span></button>
                <span class="modal-title dark-gray-text"> {{cache.activeTrend.metric_name}}</span>
            </div>
            <div class="modal-body">
                    Thanks{{name}}
            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
